// COLOR

$color-primary: #ed1c24;
$color-primary-hover: #c5181f;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-text-primary: #464646;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-horizontal: 6rem;

// text
$color-white-text: rgba(255, 255, 255, 0.85);

// font-family
/*

    fonts
    font-family: 'El Messiri', sans-serif;
    font-family: 'Open Sans', sans-serif;

*/
$font-primary: "Open Sans", sans-serif;
$font-secondary: "helvetica";
$font-nav: "El Messiri", sans-serif;
